body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

main{
    display: block;
    width: 450px;
    margin: 0 auto;
    padding: 20px 20px;
    border: 2px solid navy;
    height: 200px;
}

h1 {
    margin-top: 0;
    color: navy;
}

span{
    color: red;
    font-size: small;
}

label {
    width: 10em;
    padding-right: 1em;
    float: left;
}

input {
    float: left;
    width: 15em;
    margin-bottom: 0.5em;
}