@charset "utf-8";

/*
    Lab2
    CIS 281: Web Development III/Server Side Programming
	Professor Gustavo Alatta

	Travel Expense Application: Style Sheet
	Author: 	Jonathan Sarkarati
	Date: 		10/17/2024
	Filename: 	style.css
 */

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*  ==================
    STYLES: General
    ==================  */

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: auto;
}

main {
    display: block;
    border: 2px solid blue;
    width: 80%;
    margin: 15px auto 5px;
    min-width: 375px;
}

img {
    display: block;
    width: 95%;
    margin: 10px auto;
}

a:active, a:hover { color: orange; }

/*  ==================
    STYLES: index.html
    ==================  */

fieldset {
    border: none;
    margin: 10px 20px;
    padding: 10px;
}

fieldset legend {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 5px;
}

input { width: 45%; }

input.date { width: 125px; }

.buttons {
    width: 20%;
    min-width: 75px;
    margin-right: 10px;
    background-color: orange;
}

.buttons:hover { background-color: #ff4d01; }

footer {
    margin: 5px;
    font-size: .75em;
    text-align: right;
}

/*  ==================
    STYLES: display.php
    ==================  */

.display { max-width: 500px; }

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: right;
    width: 35%;
    padding-right: 10px;
    line-height: 1.5em;
}

table caption {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

table tfoot td {
    text-align: right;
    padding: 0 5px 5px;
    font-size: 0.75em;
}
